
/* @font-face {
    font-family: 'Cairo';
    src: url('/installments/static/src/fonts/Cairo-Regular.ttf'); 
    font-weight: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('/installments/static/src/fonts/Cairo-Bold.ttf');
    font-weight: bold;
} */

@font-face {
    font-family: 'Cairo';
    src: url(data:font/truetype;charset=utf-8;base64,[BASE64_DATA_FOR_Cairo-Regular.ttf]) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url(data:font/truetype;charset=utf-8;base64,[BASE64_DATA_FOR_Cairo-Bold.ttf]) format('truetype');
    font-weight: bold;
}

body, .page { font-family: 'Cairo', sans-serif !important; }